.root {
    /* padding-top: 25vh; */
  }

.widget {
    max-width: 360px;
    margin: 0 auto;
    padding: 30px !important;
    flex-direction: column;
    display: flex;
    align-items: center;
   
  }